/* Import the beautiful fonts */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

html {
  font-size: 10px;
}

h1 {
  font-size: 2.6rem;
  text-transform: capitalize;
  text-shadow: -1px -1px 1px #aaa,
               0px 4px 1px rgba(0, 0, 0, 5),
               4px 4px 5px rgba(0, 0, 0, 7),
               0px 0px 7px rgba(0, 0, 0, 4);
  text-align: center;
  line-height: 2.5;
}

/* Adjacent sibling combinator matches the second */

h1 + p {
  font-weight: bold;
  text-decoration: none;
}

p {
  color: red;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.4rem;
  text-decoration: underline;
  text-indent: 5em;
  background: plum;
}

p::first-line {
  letter-spacing: 2px;
  word-spacing: 4px;
}
