/* Import the beautiful fonts */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

html {
  font-size: 10px;
}

h1 {
  font-size: 2.6rem;
  text-transform: capitalize;
}

/* Adjacent sibling combinator matches the second */

h1 + p {
  font-weight: bold;
  text-decoration: none;
}

p {
  color: red;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.4rem;
  text-decoration: underline;
}
